{% extends "base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de Vendedores</h1>
    <a href="{% url 'crear_vendedor' %}">Agregar Vendedor
      <i class="bi bi-person-plus-fill fa-3x"></i>
    </a>
    <form action="{% url 'buscar_vendedor' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda">
      <input type="submit" value="Buscar Vendedor">
  </form>
    <br><br>
    <br>
    <table class="table">
      <tbody>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Dni</th>
        </tr>
        {% for vendedor in object_list %}
        <tr>
          <td>{{ vendedor.id }}</td>
          <td>{{ vendedor.username }}</td>
          <td>{{ vendedor.nombre }}</td>
          <td>{{ vendedor.apellido }}</td>
          <td>{{ vendedor.email }}</td>
          <td>{{ vendedor.telefono }}</td>
          <td>{{ vendedor.dni }}</td>
          <td>{{ vendedor.fcha_nacimiento }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a href="{% url 'ver_vendedor' vendedor.id %}">Ver</a>
          </td>
          <td>
            <a href="{% url 'editar_vendedor' vendedor.id %}">Editar</a>
          </td>
          <td>
            <a href="{% url 'eliminar_vendedor' vendedor.id %}">
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}